
// ======================================

$lgbt_purple: #9900ce;
$lgbt_blue:   #0002ff;
$lgbt_green:  #149602;
$lgbt_yellow: #f6f70e;
$lgbt_orange: #f2940b;
$lgbt_red:	  #f20808;

// ......................................
//  Main color set (for preview mode)

$main-color: $lgbt_purple;
$main-text-color: white;

$alternate-color: white;
$alternate-text-color: black;

$core-alternate-color: black;
$core-alternate-text-color: white;

// $accent-color: $lgbt_blue;
// $accent-color: $lgbt_orange;
$accent-color: #5f0080;
$accent-color-lighter: #7a00a2;
$accent-color-even-lighter: #e7b8f7;
$accent-color-darker: #2b0039;
$accent-text-color: white;

$neutral-color: #c0c0c0;
$neutral-text-color: white;

$sync_loaded: $lgbt_green;
$sync_missing: $lgbt_red;

$add_new_field: #7c7;

$submit_button_text: white;
$save_disabled: #5a5;
$save_enabled: #2a2;
$save_enabled_hover: #1a801a;

$cancel_disabled: #666;
$cancel_disabled_hovered: #444;
$cancel_enabled: #d11;
$cancel_enabled_hover: #911;

// ======================================

//  https://www.colorxs.com/palette/hex/b33700-ff4f00-ff844c-007bb3-00b0ff-4cc8ff?scheme=complementary
$rust: #B33700;
$tangelo: #FF4F00;
$coral: #FF844C;
$star-command-blue: #007BB3;
$picton-blue: #00B0FF;
$deep-sky-blue: #4CC8FF;

// ......................................
//  Alternative color palette
/*
$main-color: $tangelo;
$main-text-color: white;

$alternate-color: white;
$alternate-text-color: black;

$core-alternate-color: black;
$core-alternate-text-color: white;

$accent-color: $star-command-blue;
$accent-color-lighter: $picton-blue;
$accent-color-even-lighter: $deep-sky-blue;
$accent-color-darker: #004466;
$accent-text-color: white;

$neutral-color: #c0c0c0;
$neutral-text-color: white;

$sync_loaded: $star-command-blue;
$sync_missing: $deep-sky-blue;

$add_new_field: #7c7;

$submit_button_text: white;
$save_disabled: #5a5;
$save_enabled: #2a2;
$save_enabled_hover: #1a801a;

$cancel_disabled: #666;
$cancel_disabled_hovered: #444;
$cancel_enabled: #d11;
$cancel_enabled_hover: #911;
*/
// ======================================
